# Week 2 - Monday Lesson (variable assignment, loops, lists)

## Tasks Today:

1) Int & Float assignments <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Assigning int <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) Assigning float <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) Performing Calculations on ints and floats <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Addition <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Subtraction <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Multiplication <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Division <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Floor Division <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Modulo <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Exponential <br>
2) String Input-Output <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) String Assignment <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) print() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) String Concatenation <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) Type Conversion <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) input() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; f) format() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; g) Old Way (python 2) <br>
3) <b>In-Class Exercise #1</b> <br>
4) If Statements <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) 'is' keyword <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) 'in' keyword <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) 'not in' keyword <br>
5) <b>In-Class Exercise #2</b> <br>
6) Elif Statements <br>
7) Else Statements <br>
8) <b>In-Class Exercise #3</b> <br>
9) For Loops <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Using 'in' keyword <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) Continue Statement <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) Break Statement <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) Pass Statement <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) Double For Loops <br>
10) While Loops <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Looping 'While True' <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) While and For Loops Used Together <br>
11) Built-In Functions <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) range() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) len() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) help() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) isinstance() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) abs() <br>
12) Try and Except <br>
13) Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Declaring Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) Indexing a List <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) .append() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) .insert() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) .pop() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; f) .remove() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; g) del() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; h) Concatenating Two Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; i) Lists Within Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; j) Looping Through Lists <br>

### Int & Float Assignments

##### Assigning int

##### Assinging float

#### Performing Calculations on ints and floats

##### Addition

##### Subtraction

##### Multiplication

##### Division

##### Floor Division

##### Modulo

##### Exponential

### String Input-Output

##### String Assignment

##### print() <br>
<p>Don't forget about end=' '</p>

##### String Concatenation

##### Type Conversion

##### input()

##### format()

##### Old Way (python 2)

# In-Class Exercise 1 <br>
<p>Create a format statement that asks for color, year, make, model and prints out the results</p>

In [22]:
age = int()
age = input("What is your age? ")
car_year = input("What is your car year? ")
car_make = input("What make is your car? ")
car_color = input("What is the color of your car? ")
car_model = input("What is the model of your car? ")



answer = f"I am {age} and my car is a {car_year} {car_make} {car_model}. It's a candy paint {car_color}"
print(answer)

What is your age? 27
What is your car year? 1973
What make is your car? Ford
What is the color of your car? Red
What is the model of your car? Mustang
I am 27 and my car is a 1973 Ford Mustang. It's a candy paint Red

### If Statements

In [24]:
# Available operators: Greater(>), Less(<),Equal(==)
# Greater or Equal(>=), Less or Equal (<=), not equal (!=)

# Truth Tree:
# T && F = F
# T && T = T
# T || F = T
# F || T = T
# F || F = F

num1 = 2 
num2 = 3

if num2 > num1:
    print('The condition is true!')
print('finished')

The condition is true!
finished

##### 'is' keyword

In [28]:
# use the 'is' keyword when checking for same/similar object, NOT same value

list1 = [1, 2, 3] 
list2 = [1, 2, 3]
list3 =

if list1 == list2:
    print("")
    
if list1 is list2:
    print("")
    
if list 1 is list3:
    print("")

true
true

'in' keyword

In [29]:
my_name = 'Patrick Leahy'

'a' in my_name

True

##### 'not in' keyword'

# In-Class Exercise 2 <br>
<p>Ask user for input, check to see if the letter 'p' is in the input</p>

In [39]:
my_name = "Patrick"

if '' in my_name:
    print('Yes')

SyntaxError: invalid syntax (<ipython-input-39-9e5e3dd84725>, line 3)

## Using 'and'/'or' with If Statements

In [ ]:
#see above

### Elif Statements

In [ ]:
get_in_price = 10

age_of_customer = int(input('What is your age? '))

if age_of_customer > 75:
    print("You qualify for the senior discount of 25% off!")
    get_in_price *= .70
if age_of_customer > 50:
    print("You qualify for the senior discount of 10% off!")
    get_in_price *= .90
elif age_of_customer > 45:
    print("Small discount!")
    get_in_price *= .99
else:
    get-in_price = *1.1
    
print(f"Thank yo for your purchase, you owe ${get_in_price:.2f}")

### Else Statements

In [ ]:
# see above

### For Loops

In [44]:
name = 'Patrick Leahy'

#

for letter in name:
    print(letter)

P
a
t
r
i
c
k

L
e
a
h
y

##### Using 'in' keyword

In [ ]:
# see above

##### Continue Statement

In [ ]:
# will continue to next iteration

In [48]:
print('Loop started')

for i in range(20):
    if i == 5:
        continue
    print(i)
    
print('Loop is Finished')

Loop started
0
1
2
3
4
6
7
8
9
10
11
12
13
14
15
16
17
18
19
Loop is Finished

##### Break Statement

In [ ]:
# will break out of current loop

In [47]:
print('Loop started')

for i in range(20):
    if i == 5:
        break
    print(i)
    
print('Loop is Finished')

Loop started
0
1
2
3
4
Loop is Finished

##### Pass Statement

In [ ]:
# mostly used as a placeholder, and will continue on same iteration

In [ ]:
print('Loop started')

for i in range(20):
    if i == 5:
        pass
    print(i)
    
print('Loop is Finished')

##### Double For Loops

In [ ]:
num = 3

for i in range(num):
    for j in range(num):
        print(f"i={i}",f"j={j}"")

### While Loops

In [49]:
num = 0

while num < 10:
    print(num)
    num += 1

0
1
2
3
4
5
6
7
8
9

In [ ]:
print("Loop Started")

name = input("what is your name? ")

while name != Patrick:
    print("wrong")
    name = input("Try again")

##### Looping 'While True'

In [ ]:
while True:
    ask = input('Would you like to quit? ')
    if ask.lower() == 'y':
        print(Continue)

##### While & For Loops Used Together

In [ ]:
num = 0

while num < 5:
    print(f'While loop Iteration: {num + 1}')
    
    for i in range(3)
    print(f'For loop Iteration: {i + 1}')
    
    print()

### Built-In Functions

##### range()

In [13]:
# Fizz Buzz #2
# Write a function to print all numbers 1 to n, but there are some constraints
# If the number is divisible by 3, print ‘Fizz’ instead of the number
# If the number is divisible 5, print ‘Buzz’ instead of the number
# If the number is divisible by both 3 and 5, print ‘FizzBuzz’ instead of the number
# Otherwise, simply print the number
# Example Input: 15
# Output:
# 1
# 2
# 'Fizz'
# 4
# 'Buzz'
# 'Fizz'
# 7
# 8
# 'Fizz'
# 'Buzz'
# 11
# 'Fizz'
# 13
# 14
# 'FizzBuzz'

def fiz_buzz(num):
    
    for n in range(1, num + 1):

        if n % 3 == 0 and n % 5 == 0:
            print('FizBuzz')
        elif n % 5 == 0:
            print('Buzz')
        elif n % 3 == 0:
            print('Fizz')
        else:
            print(n)
        
        
fiz_buzz(15)

1
2
Fizz
4
Buzz
Fizz
7
8
Fizz
Buzz
11
Fizz
13
14
FizBuzz

##### len()

##### help()

##### isinstance()

##### abs()

### Try and Except

In [ ]:
#Use when we expect to encounter a bug so that the error doesnt cause the progtam to stop

### Lists

##### Declaring Lists

##### Indexing a List

##### .append()

##### .insert()

##### .pop()


##### .remove()

##### del()

##### Concatenating Two Lists

##### Lists Within Lists

##### Looping Through Lists

## Exercise #1 <br>
<p>Cube Number Test... Print out all cubed numbers up to the total value 1000. Meaning that if the cubed number is over 1000 break the loop.</p>

In [ ]:
num = 1000

for num in range(num ** 2):
   if num > 1:
       for i in range(2, num):
           if (num ** i) == 0:
               break
       else:
           print(num)

## Exercise #2 <br>
<p>Get first prime numbers up to 100</p>

In [64]:
# HINT::
# An else after an if runs if the if didn’t
# An else after a for runs if the for didn’t break

num = 1000

for num in range(num + 1):
   if num > 1:
       for i in range(2):
           if (num = ** i):
               break
       else:
           print(num)

            #i know its an error. Couldnt get it

SyntaxError: invalid syntax (<ipython-input-64-f4faa5a38113>, line 10)

# Exercise 3 <br>
<p>Take in a users input for their age, if they are younger than 18 print kids, if they're 18 to 65 print adults, else print seniors</p>

In [58]:
age = input()

 if age < 18:
        print('kids')
    elif age <= 65:
        print('adults')
    else:
        print('seniors')

IndentationError: unindent does not match any outer indentation level (<tokenize>, line 5)